@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

body {
  font-family: "Chakra Petch", sans-serif;
}

.popup {
  position: fixed;
  top: 10%;
  left: calc(50% - 175px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-sizing: border-box;
  background-color: #27002a;
  color: #ff8565;
  border-radius: 12px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 12px 24px;
  margin: 10px 20px;
}

.popup button {
  width: 100px;
  height: 35px;
  background-color: #ff8565;
  color: #27002a;
  border-radius: 12px;
  border: 1px solid #ff8565;
  cursor: pointer;
  transition: all 0.5s;
}

.popup button:hover {
  background-color: #27002a;
  color: #ff8565;
  border: 1px solid #ff8565;
}
